<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>書籍管理(仮)</title>
    <link type="text/css" rel="stylesheet"  href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet"  href="/css/mycss.css" th:href="@{/css/mycss.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
				th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  	<script src="/js/myjs.js" th:src="@{/js/myjs.js}"></script>
  </head>
  <body>
<!-- ナビ -->
<div th:fragment="main_header">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="main.html"></a>
		<ul class="nav navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">中嶋様<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="user.html">本の返却</a></li>
				<li><a href="user_change.html">ユーザー情報更新</a></li>
				<li><a href="book_admin.html">本の登録</a></li>
				<li><a href="user_admin.html">ユーザー登録</a></li>
			</ul>
		</li>
		</ul>
		</div>		
		<ul class="nav navbar-nav navbar-right">
		<li><a href="javascript:history.back()">前のページへ</a></li>
		<li><a href="index.html">ログアウト</a></li>
		</ul>
	</div>
</nav>

</div>
</body>
</html>