<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>書籍管理(仮)</title>
    <link type="text/css" rel="stylesheet"  href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet"  href="/css/mycss.css" th:href="@{/css/mycss.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
				th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  	<script src="/js/myjs.js" th:src="@{/js/myjs.js}"></script>
  </head>
<body>

<!-- ヘッダー -->
<div th:include="header :: main_header"></div>

<!-- 本の紹介 -->
<div class="container-fluid book-introduce">
	<div class="row">
		<div class="col-lg-1 col-xs-12">
		<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01ASGJYIE/-22/ref=nosim/" rel="nofollow" ><img src="http://ecx.images-amazon.com/images/I/51c8D0EinNL._SS300_.jpg" style="border: none;" alt="徹底攻略Java SE 8 Silver問題集［1Z0-808］対応 徹底攻略シリーズ" /></a> 
		</div>
		<div class="col-lg-offset-4">
			<ul>
			<li>書籍名:徹底攻略 Java SE 8 Silver 問題集[1Z0-808]対応</li>
			<li>著者:志賀 澄人</li>
			<li>出版社:インプレス</li>
			<li>出版日:2016/1/18</li>
			<li>ISBN:978-4844339939</li>
			</ul>
			<h3>タグ一覧</h3>
			<p class="tag"><a href="search.html"><img src="gyazo/tag.jpeg"></img>Java</a> <a href="#"><img src="gyazo/tag.jpeg"></img>入門書</a></p>
		</div>
	</div>
</div>


<!-- 予約ボタン -->
	<div class="row">
		<div class="col-lg-offset-1 col-lg-1">
			<button type="button" class="btn btn-default btn-lg lendbtn-stop"  disabled="disabled">貸出中</button>
		</div>
		<div class="input-group col-lg-2 col-lg-offset-4 tag-btn">
			<input type="text" class="form-control"></input>
			<span class="input-group-btn">
			<button class="btn btn-default" type="submit" data-toggle="modal" data-target="#myTag">
				<span class="glyphicon glyphicon-plus"></span>タグを追加
			</button>
			</span>
		</div>
	</div>
<hr class="style-one"></hr>

<!-- タグ追加モーダル -->
<div class="modal fade" id="myTag">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
			<p>タグ名:Java</p>
			<p>追加しますか。</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-def pull-left" data-dismiss="modal">追加</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
			</div>
  		</div>
	</div>
</div>

<!-- 内容紹介 -->
<div class="container-fluid book-content">
<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B01ASGJYIE/-22/ref=nosim/#productDescription" rel="nofollow" >
<h3>内容紹介</h3>
</a>
<p>著書の概要 引用するか読んだ人に書いてもらう</p>
</div>
<hr class="style-one"></hr>

<!-- レビュー投稿 -->
<div class="container-fluid review-post">
	<h3>レビュー</h3>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-lg-12">
				<textarea class="form-control" rows="3"></textarea>
			</div>
		</div>
		<div class="col-lg-1">
			<button type="button" class="btn btn-def" data-toggle="modal" data-target="#myModal">投稿</button>
		</div>
	</form>
</div>

<!-- 投稿モーダル -->
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
			<p>以下の内容で投稿しますか。</p>
			<p>投稿内容を表示</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-def pull-left" data-dismiss="modal">投稿</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			</div>
  		</div>
	</div>
</div>

<!-- レビュー一覧 -->
<div class="container-fluid review-list">
	<div class="row">
		<div class="review">
		<div class="review-name col-lg-2">
			<p>名前:中嶋光平</p>
		</div>
		<div class="review-date col-lg-2 col-lg-offset-1">
			<p>日付:2016/11/10</p>
		</div>
		</div>
	</div>
	<div class="review-1">
		<p>書籍の感想を書く</p>
	</div>
</div>
</body>
</html>