<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>書籍管理(仮)</title>
    <link type="text/css" rel="stylesheet"  href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet"  href="/css/mycss.css" th:href="@{/css/mycss.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
				th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
	<script src="/js/index_header.js" th:src="@{/js/index_header.js}"></script>
	<script src="/js/myjs.js" th:src="@{/js/myjs.js}"></script>
	<script src="/js/validata.js" th:src="@{/js/validata.js}"></script>
	<style type="text/css">
		label.error {
    	color: red;
		}
    </style>
  </head>

<body>
<!-- navi -->
<div th:include="index_header :: index_header"></div>


<!-- ログインフォーム -->
<div class="container-fluid col-lg-offset-2 col-lg-8 text-center login-form">
	<p>Log in</p>
    <div th:if="${param.error}" class="text-danger">
        エラー: メールアドレスまたはパスワードに間違いがあります。
    </div>
	<hr class="style-one"></hr>
	<form class="form-horizontal" th:action="@{/login}" method="post" name="login" id="login-form">
		<div class="form-group">
			<label class="col-lg-3 col-lg-offset-1 text-right" >メールアドレス</label>
			<div class="col-lg-4">
				<input type="email" name="mailAddress" class="form-control required" autofocus="autofocus" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3 col-lg-offset-1 text-right">パスワード</label>
			<div class="col-lg-4">
			<input type="password" name="password" class="form-control required" />
			</div>
		</div>
		<button type="submit" class="btn btn-def">Login</button>
	</form>
</div>
</body>
</html>