<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>書籍管理(仮)</title>
    <link type="text/css" rel="stylesheet"  href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet"  href="/css/mycss.css" th:href="@{/css/mycss.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
				th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js}"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="/js/myjs.js" th:src="@{/js/myjs.js}"></script>
  </head>

<body>
<!-- ヘッダー -->
<div th:include="header :: main_header"></div>

<!-- メイン -->
 <div class="col-lg-10 col-lg-offset-1">
	<h3 class="user-title">借りている本</h3>
	<table class="table table-hover user-table">
	<tr>
		<th class="col-lg-8">書籍名</th>
		<th class="col-lg-1" >返却予定日</th>
		<th class="col-lg-1">返却</th>
	</tr>
	<tr th:each="lendList : ${lendList}">
		<td class="col-lg-8"><a th:text="${lendList.bookName}" href="/book" th:href="@{'/book/' + ${lendList.isbn}}"></a></td>
		<td class="col-lg-1" th:text="${lendList.returnDueDate}">返却予定日</td>
		<td>
		<form th:action="@{/user/lend}" method="post">
		<input type="hidden" name="lendId" th:value="${lendList.lendId}" />
		<button type="submit" class="btn btn-default">返却する</button>
		</form>
		</td>
	</tr>
	</table>
</div>

<!-- モーダル -->
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
			<textarea name="review" rows="4" cols="80" placeholder="書籍の感想を書いてください。"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-def pull-left" data-dismiss="modal">投稿</button>
				<button type="button" class="btn btn-def" data-dismiss="modal">投稿しないで返却</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			</div>
  		</div>
	</div>
</div>

<!-- 貸出履歴 -->
 <div id="lend-main">
 <div class="col-lg-8 col-lg-offset-2">
	<h3 class="lend-history">貸出履歴 11月</h3>
	<table class="table table-hover user-table">
	<tr>
		<th>書籍名</th>
		<th>貸出日</th>
	</tr>
	<tr>
		<td><a href="sukkirinyumon.html">Effective Java</a></td>
		<td>11月9日</td>
	</tr>
	<tr>
		<td><a href="javase8silver.html">徹底攻略 Java SE 8 Silver 問題集[1Z0-808]対応</a></td>
		<td>11月10日</td>
	</tr>
	</table>
	<div class="form-inline">
	<div class="form-inline">
	<button type="button" class="btn btn-default pull-left form-control" id="former-lend-history">←先月</button>
	<button type="button" class="btn btn-default pull-right form-control" id="next-lemd-history">次月→</button>
	</div>
</div>
</div>
</div>
  </body>
</html>