<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ixui.mapper.LendMapper">

<select id="insertLend" resultType="Lend">
	insert into lend
	(emp_num,lend_date,return_due_date)
	values
	(#{empNum},CURRENT_DATE(),#{returnDueDate})
</select>
</mapper>