<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ixui.mapper.LendMapper">

<select id="insertLend" resultType="Lend">
	insert into lend
	(book_stock_id,emp_num,owner_emp_num,lend_date,return_due_date)
	values
	(#{bookStockId},#{empNum},#{ownerEmpNum},CURRENT_DATE(),#{returnDueDate})
</select>

<select id="selectLendHistory" resultType="Lend">
	select *
	from lend
	where book_stock_id = #{bookStockId}
	limit 1
</select>

<select id="selectRetunDateBook" resultType="Lend">
	select *
	from lend
	where book_stock_id = #{bookStockId}
	and return_date is null
	limit 1
</select>
</mapper>