<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ixui.mapper.MstBookStockMapper">

<select id="insertBookStock" resultType="MstBookStock">
	insert into m_book_stock
	(isbn, owner_emp_num, regist_emp_num, update_emp_num, regist_time, update_time)
	values
	(#{isbn}, #{ownerEmpNum}, #{registEmpNum}, null,CURRENT_DATE() , null)
</select>

<select id="selectBookStock" resultType="MstBookStock">
	select *
	from m_book_stock as mbs
	where isbn = #{isbn}
</select>
</mapper>