<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ixui.mapper.MstBookMapper">

<select id="registerBook" resultType="MstBook">
	insert into m_book
	values
	(#{isbn}, #{bookName}, #{author}, #{publishDate}, #{publisher}, #{content}, #{registEmpNum},#{registEmpNum}, CURRENT_DATE(), CURRENT_DATE())
</select>

<select id="getBook" resultType="MstBook">
	select *
	from m_book
	where isbn = #{isbn}
</select>

<select id="getNewlyBook" resultType="MstBook">
	select *
	from m_book
	order by regist_time desc limit #{limit}
</select>

<select id="getLendingBookList" resultType="MstBook">
	select mb.book_name, mb.isbn
	from m_book as mb
	join m_book_stock as mbs
	on  mb.isbn = mbs.isbn
	join lend as l
	on mbs.book_stock_id = l.book_stock_id
	where return_date is null
	and l.emp_num = #{empNum}
	order by mbs.book_stock_id
</select>
</mapper>