<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.ixui.mapper.MstEmpMapper">

<select id="getUser" resultType="MstEmp">
	select *
	from m_emp
	where mail_address = #{mail_address}
</select>

<select id="registerUser" resultType="MstEmp">
	insert into m_emp
	values
	(#{empNum}, #{mailAddress}, #{empName}, #{password}, #{adminFrag}, null, null, CURRENT_DATE(), CURRENT_DATE())
</select>
</mapper>